/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require foundation 
 */

.demo-wrap
{

	
	position: relative;
	width: 700px;
	margin: 20px auto;
	height: 460px;
	background-color: #5BA0EE;
	border: 5px groove #6a1212; 
	
}
.demo-wrap .left {
	width: 205px;
	float: left;
}

.demo-wrap .right {
	width: 320px;
	float: left;
}

.demo-wrap .bx-wrapper {
	margin: 0 auto;
}

.bx-prev {
	position: absolute;
	top: 200px;
	left: -70px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url('icon_arrow_left.png') no-repeat 0 -31px;
}

.bx-next {
	position: absolute;
	top: 200px;
	right: -70px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url('icon_arrow_right.png') no-repeat 0 -31px;
}




.color-1 {
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.color-2 {
	background-color: #EBBBBC;
	background-color: rgba(235, 187, 188, 1);
}
.color-3 {
	background-color: #EED9C0;
	background-color: rgba(238, 217, 192, 1);
}
.color-4 {
	background-color: #DFEBB1;
	background-color: rgba(223, 235, 177, 1);
}
.color-5{
	background-color: #C1E6E5;
	background-color: rgba(193, 230, 229, 1);
}

.step {	
	width: 500px;
    height: 420px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.step h3{
	color: #FE512E;
	/*color: #E80C0C;*/
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin: 0;
	padding: 60px 0 10px 0;
}
.step p {
	color: #FE512E;
	/*color: #000000;*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 25px;
	font-weight: normal;
	position: relative;
	margin: 0;
}