// Place all the styles related to the ejercicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lista1, #lista2 {
  width: 200px;
  border: 1px solid #990000;
  height: auto;
  float: left;
  margin-right: 5px;
  min-height: 200px;
}
