
		  	<p>En el contenedor 1 tienes una serie de intrucciones que están en desorden. Debes ordenarlas arrastrando cada instrucción al contenedor 2 de manera que formen un programa.</p>
		  	<dir id="contenedor" class="row">
		  		
		  		<div class="twelve columns">
		  			<div class="six columns" >
				  	

						<ul id="lista1" class="gallery ui-droppable">
							<li id="1" class="ui-draggable">public abstract class Figura</li>
							<li id="2" class="ui-draggable">{</li>
							<li id="3" class="ui-draggable">public abstract double()</li>
							<li id="4" class="ui-draggable">/*Mas sentencias</li>
							<li id="5" class="ui-draggable">}</li>
							
						</ul>	
							
						
					
				</div>
		  			<div class="six columns" idid="lista"> 
			  			<ul id="lista2" class="selectable">
			  							
						</ul>
		  			</div>
		  			
		  			</div>
		  	</dir>
		  	
		  	
		 