<section id="jms-slideshow" class="jms-slideshow">
				<div class="step" data-color="color-1">
					<div class="jms-content">
						<h3>Tipos de Metodos</h3>
						<p>Un metodo es una abstraccion de una operacion que puede hacer o realizarse con un objeto. Una clase puede declarar cualquier numero de metodos que lleven a cabo operaciones de lo mas variado con los objetos. </p>
						
					</div>
					<img src="images/1.png" />
				</div>
				<div class="step" data-color="color-2" data-y="500" data-scale="0.4" data-rotate-x="30">
					<div class="jms-content">
						<h3>Continua..</h3>
						<p>En esta seccion los metodos se clasifican en dos grupos: los metodos de instancia y los metodos de clase.</p>
						
					</div>
					<img src="images/2.png" />
				</div>
				<div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
					<div class="jms-content">
						<h3>Metodos de instancia</h3>
						<p>Las clases pueden incluir en su declaracion muchos metodos o no declarar ninguno. Los metodos pueden clasificarse en metodos de instancia y metodos de clase.</p>
						
					</div>
					<img src="images/3.png" />
				</div>
				
				<div class="step" data-color="color-4" data-x="3000">
					<div class="jms-content">
						<h3>Metodos de instancia</h3>
						<p>Los metodos de instancia operan sobre las variables de instancia de los objetos pero tambien tienen acceso a las variables de clase. La sintaxis de llamada a un metodo de instancia es:</p>
						<p> idReferencia.idMetodo(parametros);</p>
					</div>
					<img src="images/4.png" />
				</div>
				
				<div class="step" data-color="color-1">
					<div class="jms-content">
						<h3>Metodos de instancia</h3>
						<p>Todas las instancias de una clase comparten la misma implementacion para un metodo de instancia. La instancia que hace la llamada al metodo es siempre un parametro o argumento implicito.</p>
						
					</div>
					<img src="images/1.png" />
				</div>
				
				<div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
					<div class="jms-content">
						<h3>Metodos de clase</h3>
						<p>Los métodos de clase pueden trabajar con las variables de clase pero no pueden acceder a lasvariables de instancia declaradas dentro de la clase, </p>
						
					</div>
					<img src="images/3.png" />
				</div>
				
				<div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
					<div class="jms-content">
						<h3>Metodos de clase</h3>
						<p>a no ser que se crea una nueva instancia y se acceda a las variables de instancia a través del nuevo objeto.</p>
						
					</div>
					<img src="images/3.png" />
				</div>
				
				<div class="step" data-color="color-4" data-x="3000">
					<div class="jms-content">
						<h3>Metodos de clase</h3>
						<p>Los métodos de clase tambien pueden ser llamados precediendolos con el identificador de la clase, sin necesidad de utilizar el de una instancia.</p>
						
					</div>
					<img src="images/4.png" />
				</div>
				
				<div class="step" data-color="color-2" data-y="500" data-scale="0.4" data-rotate-x="30">
					<div class="jms-content">
						<h3>Continua..</h3>
						<p>Los metodos de clase también pueden ser llamados precediendolos con el identificador de la clase, sin necesidad de utilizar el de una instancia.</p>
						<p>CuentaBancaria.incCuentas();</p>
					</div>
					<img src="images/2.png" />
				</div>
				
				<
				<div class="step" data-color="color-5" data-x="4500" data-z="1000" data-rotate-y="45">
					<div class="jms-content">
						
					
		  			<p>En el contenedor 1 tienes una serie de intrucciones que están en desorden. Debes ordenarlas arrastrando cada instrucción al contenedor 2 de manera que formen un programa.</p>
		  			<dir id="contenedor" class="row">
		  		
		  				<div class="twelve columns">
		  					<div class="six columns" >
				  	

								<ul id="lista1" class="gallery ui-droppable">
									<li id="1" class="ui-draggable">public abstract class Figura</li>
									<li id="2" class="ui-draggable">{</li>
									<li id="3" class="ui-draggable">public abstract double()</li>
									<li id="4" class="ui-draggable">/*Mas sentencias</li>
									<li id="5" class="ui-draggable">}</li>
							
								</ul>	
							
						
					
							</div>
		  					<div class="six columns" idid="lista"> 
			  					<ul id="lista2" class="selectable">
			  							
								</ul>
		  					</div>
		  			
		  				</div>
		  			</dir>
		  			</div>
					<img src="images/5.png" />
				</div>
				
			</section>
		  	
		  	
		 