<div class="demo-wrap">
  <ul id="slider1" style="width: 999999px; position: relative; left: -545px;">
    <li style="width: 545px; float: left; list-style: none;" class="bx-child">
      <div class="step" data-color="color-1">
        <h3 >Clase Abstracta</h3>
            <p align="justify">Una clase abstracta es una clase en la que algunos de sus métodos están declarados pero no están definidos, es decir, se especifica su nombre, parámetros y tipo de devolución pero no incluye código.
            </p>
      </div>
    </li>
    <li style="width: 545px; float: left; list-style: none;" class="bx-child">
      <div class="step" data-color="color-2">
       
        <h3>Clase Abstracta</h3>
            <p align="justify">Un metodo se define como abstracto porque en ese momento no se conoce como ha de ser su implementacion; seran las subclases de la clase abstracta las responsables de darle "cuerpo" mediante la sobre escritura del mismo.
            </p>
        
      </div>
    </li>
    <li style="width: 545px; float: left; list-style: none;" class="bx-child">
      <div class="step" data-color="color-3" >
        <h3>Clase Abstracta</h3>
            <p align="justify">Por ejemplo, se sabe que toda Figura debe tener un metodo para poder calcular el area, sin embargo, en la definicion de la clase Figura no es posible codificar este metodo al depender el calculo de cada tipo concreto de Figura.
            </p>
      </div>
        
    </li>
    <li style="width: 545px; float: left; list-style: none;" class="bx-child">
      <div class="step" data-color="color-4" >
        <h3>Clase Abstracta</h3>
            <p align="justify">En este caso definiriamos el metodo como abstracto en la clase Figura, dejando a las subclases de esta (Triangulo, Circulo, etc.) los detalles de implementacion.
            </p>
      </div>
        
    </li>
    <li style="width: 700px; float: left; list-style: none;" class="bx-child">
      
            <p>EJERCICIO 1:</p>
            <a href="#" data-reveal-id="myModal" class="button alert">Intrucciones</a>
            <div class="switch large round">
              <input id="z" name="switch-z" type="radio" checked>
              <label for="z" onclick="">Off</label>
              <input id="z1" name="switch-z" type="radio">
              <label for="z1" onclick="">On</label>
              <span></span>
            </div>

            <br>
                         
          
    </li>
  </ul>
</div>

<div id="myModal" class="reveal-modal">
  <h2>Intrucciones</h2>
  <p>1.-Observar que existen 2 cuadros el del lado izquierdo contiene todo un fragmento de codigo escrito en Lumin.</p>
  <p>2.-Colocar en el cuadro derecho de forma ordenada la estructura correctamente.</p>
  <p>3.-De la forma en la cual lo puedes hacer es arastrando y soltando cada uno de las lineas de codigo.</p>
  <p>4.-Solo tienes una oportunidad de realizar el paso anterior por lo cual debes estar seguro de que la linea que codigo seleccionada sea la correcta.</p>
  <a href="#" data-reveal-id="xt" class="button alert">ejercicio1</a>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="xt" class="reveal-modal">
    <div  class="twelve columns">
                <div class="six columns">
                  <ul id="lista1" class="gallery ui-droppable">
                    <li id="1" class="ui-draggable">public abstract class Figura</li>
                    <li id="2" class="ui-draggable">{</li>
                    <li id="3" class="ui-draggable">public abstract double()</li> <li id="4" class="ui-draggable">/*Mas sentencias</li>     <li id="5" class="ui-draggable">}</li>
                  </ul>
                </div>
                <div class="six columns" idid="lista"> 
                  <ul id="lista2" class="selectable">
                  </ul>
                </div>
              </div>
              <a class="close-reveal-modal">&#215;</a>
</div>
<!--
					<ul id="slider1">
						<li >Slide one contentsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfd</li>
						<li >Slide two content</li>
						<li >Slide three content</li>
						<li >
							<div  class="twelve columns">
								<div class="six columns">
									<ul id="lista1" class="gallery ui-droppable">
										<li id="1" class="ui-draggable">public abstract class Figura</li>
										<li id="2" class="ui-draggable">{</li>
										<li id="3" class="ui-draggable">public abstract double()</li>	<li id="4" class="ui-draggable">/*Mas sentencias</li>			<li id="5" class="ui-draggable">}</li>
									</ul>
								</div>
								<div class="six columns" idid="lista"> 
									<ul id="lista2" class="selectable">
									</ul>
								</div>
							</div>
						</li>
					</ul>
			

			-->	
		



